<div style="height: 100%">
  <div nz-row [nzGutter]="10" style="height: 13%;">
    <div nz-col [nzSpan]="6">
      <div class="cardCol">
        <nz-badge [nzCount]="5" style="float: left;margin-right: 23%">
          <i nz-icon nzType="fund" nzTheme="fill"
             style="font-size: 45px;color: #1890ff;"></i>
        </nz-badge>
        <h3 nz-title nzType="secondary">New Visits</h3>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="cardCol">
        <nz-badge [nzCount]="5" style="float: left;margin-right: 23%">
          <i nz-icon nzType="mail" nzTheme="fill"
             style="font-size: 45px;color: #39819f;"></i>
        </nz-badge>
        <h3 nz-title nzType="secondary">Emails</h3>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="cardCol">
        <nz-badge [nzCount]="5" style="float: left;margin-right: 23%">
          <i nz-icon nzType="pay-circle" nzTheme="fill"
             style="font-size: 45px;color: #ff9077;"></i>
        </nz-badge>
        <h3 nz-title nzType="secondary">Purchases</h3>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="cardCol">
        <nz-badge [nzCount]="5" style="float: left;margin-right: 23%">
          <i nz-icon nzType="read" nzTheme="fill"
             style="font-size: 45px;color: #8c9dff;"></i>
        </nz-badge>
        <h3 nz-title nzType="secondary">Messages</h3>
      </div>
    </div>
  </div>
  <div nz-row style="height: 65%;  background-color: #ffffff;margin-top: 2%">
    <div id="option1" style="height: 100%"></div>
  </div>

  <div nz-row style="height: 55%;width: 100%">
    <div class="chartCol">
      <div id="option2" style="height: 100%"></div>
    </div>
    <div class="chartCol" style="margin-left: 2%">
      <div id="option3" style="height: 100%"></div>
    </div>
    <div class="chartCol" style="margin-left: 2%">
      <div id="option4" style="height: 100%"></div>
    </div>
  </div>
</div>
